.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
data/*
checkpoints/data/*
task.md
error.md
*.zip
*.tar.gz
*.json
Data_import_test/*
Run_Project.md
docs.md


